header{
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    list-style: none;

}

.navbar li{
    text-decoration: none;
    color: aquamarine;
}